<h1>Editing entry type</h1>

<%= render "form", entry_type: @entry_type %>

<br>

<div>
  <%= link_to "Show this entry type", @entry_type %> |
  <%= link_to "Back to entry types", entry_types_path %>
</div>
