<p style="color: green"><%= notice %></p>

<div class="w-full border-2 border-grey-200 rounded max-w-4xl self-center mt-20 p-8 bg-white flex-col items-center">
  <h2 class="text-center text-bold mb-8 text-xl font-bold">Created Challenges</h2>
  <% if @challenges.select {|challenge| challenge.creator == current_user}.length > 0 %>
    <%= render "challenge_table", challenges: @challenges.select {|challenge| challenge.creator == current_user} %>
  <% end %>
  <%= link_to "Create challenge", new_challenge_path, class: 'px-2 py-1 border-2 rounded-md bg-yellow-200 hover:bg-yellow-400 focus:bg-yellow-400 active:bg-yellow-100 border-yellow-400 hover:border-yellow-200 focus:border-yellow-200 cursor-pointer w-40' %>
</div>


<% if @challenges.select {|challenge| challenge.creator != current_user}.length > 0 %>
  <div class="w-full border-2 border-grey-200 rounded max-w-4xl self-center mt-20 p-8 bg-white flex-col items-center">
    <h2 class="text-center text-bold mb-8 text-xl font-bold">Participation Challenges</h2>
    <%= render "challenge_table", challenges: @challenges.select {|challenge| challenge.creator != current_user} %>
  </div>
<%end %>